/*  */
/*  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
  /* background-color: #3c3b37; */
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header > h2 {
  font-size: 3rem;
  padding: 20px 80px;
  background-color: rgb(0, 54, 64);
  color: #fff;
  /* background-color: #cec1c1;s */
  border-radius: 10px;
}

@media (max-width: 500px) {
  header > h2 {
    font-size: 2rem;
  }
}
